# Resource files
*.png
*.jpg
*.psd
*.bmp
*.zip
*.pptx

# IAR Debug and Settings  
prjs/*/project_enter/*/Exe
prjs/*/project_enter/*/List
prjs/*/project_enter/*/Obj
prjs/*/project_enter/Debug/*.o

prjs/*/project_enter/settings


#*.crun  
#*.dbgdt  
#*.cspy  
#*.cspy.*  
#*.xcl  
#*.dni  
#*.wsdt  
#*.wspos  
#*.dep

# VSCODE
*.DB
*.db

*.DB-shm
*.DB-wal


